
.App-header {
  background-color: #201f1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(12px + 2vmin);
  color: white;
}

.frametest
{
  border-style: dotted;
  border-color: red;
  background-color: aqua;
}
body {
	font-family: Roboto,Chiron Sans HK Pro WS,-apple-system,PingFang HK,PingFang TC,蘋方-港,Noto Sans CJK HK,Source Han Sans HC,蘋方-台,Noto Sans CJK TC,Source Han Sans TC,思源黑體,Noto Sans,Source Han Sans,Microsoft JhengHei,微軟正黑體,sans-serif;
}